* {
    line-height: 1.7;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    color: #888;
    display: table;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    width: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


h1 {
    color: #555;
    font-size: 2em;
}
a {
    color: #06a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p, .p { margin: 10px 0 15px; }
input, button {
    font-size: 14px;
    padding: 5px 22px;
    border: none;
    border-radius: 2px;
    font-weight: 700;
}
input {
    background-color: #f3f3f3;
    width: 60%;
    font-weight: normal;
    color: #666;
}
button {
    min-width: 80px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #f90 none repeat scroll 0 0;
}
button:hover,
button:active {
    background-color: #fa5;
}
.error { color: #d9534f; }
.text-center { text-align: center; }
.box {
    margin: 0 auto;
    padding: 20px 0 0 30px;
    background-color: #fff;
    width: 540px;
    height: 300px;
}
.footer {
    margin: 15px 0 0;
    color: #999;
    font-size: 13px;
}
.footer a {
    color: #999;
}
@media only screen and (max-width: 480px) {
    .box {
        padding: 20px;
        width: 100%;
    }
    h1 {
        font-size: 1.5em;
            margin: 0 0 0.3em 0;
    }
}
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.head {
    width: 85%;
    height:80px;
}
.logo {
    float: left;
}
.brand {
    float: left;
    height:80px;    
    line-height:60px;
    margin-left: 20px;
    
    font-size:18px;
    color: #333;
}
.checkbox label {
    padding:0;
}
.login .form-control {
    width:60%;
    margin-top:10px;
}
.mt20 {
    margin-top:20px;
}
.box .content {
    padding-left: 20px;
}
